* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', 'Poppins', 'Georgia', -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  background-image: url('https://i.pinimg.com/736x/7f/50/1f/7f501fbd75c69b7e72d4bea09d9535cb.jpg');
  min-height: 100vh;
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-size:cover; 
}

#root {
  min-height: 100vh;
}